<h1>Welcome to User Login</h1>
<form method="post">
    <table>
        <tr>
            <td>User Name</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>User Email</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>User Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="save"/></td>
        </tr>
    </table>
</form>