<form method="post">
    <h1>User Signup</h1>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="save" /></td>
        </tr>
    </table>
</form>

